*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.grid-container{
    display: grid;
    grid-template-areas:
    "header header"
    "menu main"
    "footer footer";
    /* gap: 10px; */
    grid-template-columns: 150px 1fr;
}
    

header{
    grid-area: header;
    background-color: rgb(47, 47, 128);
    min-height: 7vh;
}
    
menu{
    grid-area: menu;
    background-color: rgb(187, 187, 187);
    min-height: 86vh;
    width: auto;
    border-right: 1px solid black;
}
    
main{
    grid-area: main;
    background-color: rgb(187, 187, 187);
    min-height: 86vh;
    width: auto;
}
    
footer{
    grid-area: footer;
    background-color: rgb(255, 255, 255);
    min-height: 7vh;
}

.ecommerce-title{
    display: flex;
    justify-content: center;
    align-items: center;
}

.categories{
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.categories .categories-title{
    padding-bottom: 1vh;
}

.categories .categories-category{
    padding-bottom: 0.3vh;
}

.grid-products{
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
    gap: 50px;
}

.products-product{
    background-color: black;
}

.product-card{
    background-color: red;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.product-card img{
    width: 100%;
    height: auto;
    min-height: 300px;
    padding-bottom: 20px;
}

.product-name{
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 18px;
}

.product-price{
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 15px;
}

.product-buy{
    width: 100%;
    height: 4vh;
    background-color: blue;
    color: white;
    transition-duration: 0.4s;
    border: none;
}

.product-buy:hover{
    background-color: black;
    color: yellow;
}

.ecommerce-footer{
    display: flex;
    justify-content: center;
    align-items: center;
}