@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
}

.grid-container{
    display: grid;
    grid-template-areas:
    "header header"
    "menu main"
    "footer footer";
}
    

header{
    grid-area: header;
    background-color: #002c53;
    min-height: 7vh;
    color: white;
}
    
menu{
    grid-area: menu;
    background-color: #fbe1e1;
    min-height: 86vh;
    width: auto;
    padding-top: 20px;
}
    
main{
    grid-area: main;
    background-color: #fbe1e1;
    min-height: 86vh;
    width: auto;
    padding-top: 20px;
    padding-bottom: 20px;
}
    
footer{
    grid-area: footer;
    background-color: #002c53;
    min-height: 7vh;
    color: white;
}

.ecommerce-title{
    display: flex;
    justify-content: center;
    align-items: center;
}

.categories{
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.categories .categories-title{
    padding-bottom: 1vh;
    font-weight: 600;
}

.categories .categories-category{
    padding-bottom: 0.3vh;
    font-weight: 300;
}


.categories .categories-category:hover{
    padding-bottom: 0.3vh;
    font-weight: 300;
    cursor: pointer;
}

.categories .categories-category .categories-stock{
    color: #706f6f;
}

.grid-products{
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
    gap: 50px;
}
.product-card{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
}

.product-card img{
    width: 60%;
    height: 100%;
    padding-bottom: 25px;
}

.product-name{
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 18px;
}

.product-price{
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 15px;
}

.product-buy{
    width: 100%;
    height: 8vh;
    background-color: #002c53;
    color: white;
    transition-duration: 0.5s;
    border: none;
    font-size: 20px;
}

.product-buy:hover{
    background-color: #004378;
    color: #fafafa;
    cursor: pointer;
}

.ecommerce-footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.ecommerce-footer-title{
    font-size: 17px;
    padding-bottom: 5px;
}

.ecommerce-footer .ecommerce-footer-icons{
    font-size: 25px;
    padding-bottom: 5px;
}

.ecommerce-footer .fa-brands{
    padding-right: 20px;
    color: white;
}

.ecommerce-footer .footer-copyright{
    font-size: 12px;
    font-weight: 400;
}

.ecommerce-footer .footer-copyright .footer-copyright-url{
    color: white !important;
    text-decoration: none !important;
}